*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

div.card-swiper{
    width: 500px;
    height: 500px;
    position: relative;
}

div.card-swiper__container{
    height: 90%;
    position: relative;

}

div.button-container{
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

button{
    width: 100px;
    height: 50px;
    background-color: #0f0f0f;
    color: #fff;
    border: 1px solid #fff;
    font-weight: bolder;
    border-radius: 10px;
    
    transition: .5s all;
}

button:hover{
    cursor: pointer;
    background-color: #000;
    font-size: 1rem;
    transform: scale(1.2);
}

div.group-card{
    width: 100%;
    height: 100%;
    position: absolute;
    isolation: isolate;
}

div.group-card:hover{
    cursor: pointer;
}

[data-status = "inactive"]{
    animation: .5s disappear forwards;
}

[data-status = "active"]{
    animation: .5s appear forwards;
}

@keyframes disappear {
    0%{
        transform: scale(1.5);
        opacity: 1;
    }
    90%{
        transform: scale(.1) rotate(45deg);
        opacity: .3;
    }
    100%{
        transform: scale(0);
        display: none;
    }
}

@keyframes appear {
    0%{
        transform: scale(.1);
        opacity: .3;
    }
    90%{
        transform: scale(.9);
        opacity: 1;
    }
    100%{
        transform: scale(1);
        display: block;
    }
}

div.card{
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    
    /* height: ; */
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    box-shadow: -35px 5px 15px #00000053;
    transition: .5s all;
}

div.card:hover{
    z-index: 5;
    scale: 1.1;
}

div.big-card:nth-of-type(4){
    border: 2px solid #fff;
}

div.big-card{
    width: 250px;
    height: 400px;
}

div.little-card{
    width: 150px;
    height: 200px;
    z-index: -1;
}


img{
    width: 100%;
    height: 100%;
}

div.big-card:nth-of-type(1)
{
    transform: translate(-60%, -50%) rotate(-7deg);
}

div.big-card:nth-of-type(2)
{
    transform: translate(-55%, -50%) rotate(-5deg);
}

div.big-card:nth-of-type(3)
{
    transform: translate(-50%, -50%) rotate(2deg);
}

div.group-card:hover div.card{
    transform: translate(var(--x), var(--y)) rotate(var(--deg));
}

div.group-card:hover div.little-card
{
    z-index: 1;
}

div.group-card:hover div.card:nth-of-type(4)
{
    z-index: 2;
}